body,html {
    
    z-index: -10;
    background-image: url('img/materiel_informatique.png');
    background-repeat:no-repeat;
    width: 1250px;
    height: 1250px;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.euro {
    background-image: url('http://annuaire.toques-auvergne.com/images/euro_off.gif');
    background-repeat: no-repeat;
    background-position: center right;
    text-align: right;
    padding-right: 15px;
}

.cr {
    font-family: 'Arima Madurai', cursive;
    color: black;
    font-size: 30px;;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
    position: absolute;
    margin-top: 800px;
    min-width: 120px;
    color: #fff;
    text-shadow: #000 0 0 .2em;
    width: 1600px;
    height: 60px;
    color: rgb(230, 23, 212);
    margin-left: 620px;
    margin-right: 300px;
}