* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('.././img/computers.png');
    background-size: cover; 
}

h2 {
    margin-top: 50px;
    margin-left: 30px;
    color: white;
}

a {
    color: yellow;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 30px;
}

a:hover {
    color: skyblue;
}

.congr {
    background: rgba(44, 62, 80, 0.7);
    padding: 40px;
    height: 200px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 120px;
    width: 240px;
}

