* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    background-image: url('.././img/computers.png');
    background-size: cover;
}

h2, h5 {
    color: white;
}

.forget {
    background: rgba(44, 62,80, 0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    height: 430px;
    margin-top: 90px;
    margin-left: 180px;
    margin: 0 auto;
}

form {
    width: 240px;
    text-align: center;
}

.text {
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: white;
}

.button {
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}

.button:hover {
    color: #fff;
    background-color: black;
}

a {
    text-decoration: none;
    font-family: 'Play', sans-serif;
    color: yellow;
}

a:hover {
    color: skyblue;
}

::placeholder {
    color: aliceblue;
    opacity: 0.8;  /* Firefox */
}


#msgmail {
    visibility: hidden;
    min-width: 250px;
    background-color: yellow;
    color: #000;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 30%;
    top: 30px;
    font-size: 17px;
    margin-right: 30px;
}
#msgmail.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}